html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}

/***/
@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .table-responsive {
        overflow-y: inherit;
    }
}

.table-responsive {
    overflow-x: inherit;
}

.grid-view td:last-child .glyphicon {
    margin: 0 5px;
}

input[type="checkbox"] {
    position: relative;
    top: 7px;
}
.max-width-1 {
    max-width: 500px;
}

.action-panel {
    margin-bottom: 15px;
}

/*** Data ***/
.data-link .fa {
    margin-right: 15px;
}

.bootstrap-timepicker-widget table td input {
    width: 40px;
    text-align: center;
    margin-left: 13px;
}

/*** Redactor ***/
.redactor-box {
    border: 1px solid #e0e0e0;
}

.redactor-toolbar li a:hover {
    background: #607d8b;
}

/*** Badge ***/
.new.badge {
    font-weight: 300;
    font-size: 1.4rem;
    border-radius: 2px;
}

.nav-tabs-custom>.tab-footer {
    background: #fff;
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    /*border-top: 1px solid #ddd;*/
}

.tab-footer .form-group {
    /*margin-bottom: 0;*/
}

.detail-view th {
    width: 210px;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 1200px;
        margin: 30px auto;
    }
}

.jcrop-holder {
    margin: auto;
}

.select2-search__field {
    width: auto !important;
}

.chars-info span {
    margin-right: 10px;
}

.redactor-modal-tab input[type="checkbox"] {
    position: relative;
    top: 1px;
    margin-left: 2px;
}

.redactor-modal-tab input[type="file"] {
    margin-top: 20px;
}

.char-total, .word-total {
    padding-right: 10px;
}