body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.input-field .prefix {
    bottom: 25px;
}

.pl-head {
    width: 85%;
}

.range-field {
    width: 100px;
}

.pl-head .progress {
    margin-top: 30px;
}

.has-error, .has-error label {
    color: #e53935;
}

.has-error input[type=text] {
    border-bottom: 1px solid #e53935;
}

/*** Card ***/
.card .card-image {
    overflow: hidden;
    height: 300px;
}

.waves.card-action {
    display: block;
    padding: 0;
}

.card .waves.card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    padding: 20px;
    display: inline-block;
    margin-right: 0;
}

/*** Nav Logo ***/
nav .brand-logo {
    padding: 0 10px;
}

/*** Form ***/
.help-block-error, .has-error p {
    margin-top: 0;
}